<form [formGroup]="formData" (ngSubmit)="send()">
    <div class="form-group">
        <label for="exampleInputEmail1">Nombres</label>
        <input 
          type="text" 
          class="form-control"  
          placeholder="Ingrese su nombre" 
          formControlName="name"
          autocomplete="off">
  
          <div *ngIf="f.name.errors  && (f.name.dirty || f.name.touched)">
              <div *ngIf="f.name.errors.required">
                  <small  class="form-text text-danger">*Nombre es requerido</small>
              </div>
          </div>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Correo Electrónico</label>
      <input 
        type="email" 
        class="form-control"  
        placeholder="Ingrese su correo electrónico" 
        formControlName="email"
        autocomplete="off">

        <div *ngIf="f.email.errors  && (f.email.dirty || f.email.touched)">
            <div *ngIf="f.email.errors.required">
                <small  class="form-text text-danger">*Correo Electrónico es requerido</small>
            </div>
            <div *ngIf="f.email.errors.email">
                <small  class="form-text text-danger">*Formato de correo inválido</small>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label >Rol</label>
        <select class="form-control" formControlName="role">
          <option value="AVIATOR" [disabled]="user?.role === 'PASSENGER' ">Piloto</option>
          <option value="PASSENGER" [disabled]="user?.role === 'AVIATOR' ">Pasajero</option>
          <option value="AIRCRAFT" [disabled]="user?.role === 'PASSENGER' ">Aeronave</option>
        </select>
      </div>


    <div class="form-group">
      <label >Contraseña</label>
      <input 
        type="password" 
        class="form-control" 
        formControlName="password"
        placeholder="Ingrese su contraseña">

        <div *ngIf="f.password.errors  && (f.password.dirty || f.password.touched)">
            <div *ngIf="f.password.errors.required">
                <small  class="form-text text-danger">*Contraseña es requerido</small>
            </div>
        </div>

    </div>

   

    <div class="form-group pd-10 text-end">
        <button type="submit" class="btn btn-primary" >{{ edit ? 'Editar' : 'Crear'}}</button>
    </div>
</form>