<form [formGroup]="formData" (ngSubmit)="send()">
    <div class="alert alert-danger" role="alert" *ngIf="error">
        {{ error.error.msg }}
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Correo Electrónico</label>
      <input 
        type="email" 
        class="form-control"  
        placeholder="Ingrese su correo electrónico" 
        formControlName="email"
        autocomplete="off">

        <div *ngIf="f.email.errors  && (f.email.dirty || f.email.touched)">
            <div *ngIf="f.email.errors.required">
                <small  class="form-text text-danger">*Correo Electrónico es requerido</small>
            </div>
            <div *ngIf="f.email.errors.email">
                <small  class="form-text text-danger">*Formato de correo inválido</small>
            </div>
        </div>
      
   
    </div>
    <div class="form-group">
      <label >Contraseña</label>
      <input 
        type="password" 
        class="form-control" 
        formControlName="password"
        placeholder="Ingrese su contraseña">

        <div *ngIf="f.password.errors  && (f.password.dirty || f.password.touched)">
            <div *ngIf="f.password.errors.required">
                <small  class="form-text text-danger">*Contraseña es requerido</small>
            </div>
        </div>

    </div>

   

    <div class="form-group pd-10 text-end">
        <button type="submit" class="btn btn-primary" >Iniciar sesión</button>
    </div>
</form>