<div class="row">
    <div class="col-md-4">
        <div class="card">
            <app-profile [session]="user" *ngIf="user"></app-profile>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>