<nav class="navbar navbar-light bg-light justify-content-between menu-top">
    <div class="container">
        <img src="../../../../assets/images/logo.png" class="logo">
    </div>
</nav>
<div class="container pd-container">
    <router-outlet></router-outlet>
</div>