
<div class="container-home">
    <div class="container">

        <div class="content">

            <div class="text-center">
                <img src="../../../../assets/images/logo.png" class="logo">
            </div>

            <div class="container">
                <router-outlet></router-outlet>
            </div>
            
        </div>
    </div> 
</div>