<div class="row">
    <div class="col-md-6">
        <h4>Usuarios</h4>
    </div>
    <div class="col-md-6 text-end">
        <button  class="btn btn-primary" routerLink="/dashboard/create">Nuevo</button>
    </div>
</div>

<hr>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Rol</th>
        <th scope="col">Fecha creación</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody *ngIf="users.length > 0">
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.created_at | date:"dd-MM-yyyy" }}</td>
        <td>
            
            <button type="button" class="btn btn-success btn-sm" routerLink="/dashboard/edit" [state]="user">Editar</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="open(content, user)">Eliminar</button>

        </td>
      </tr>
      
    </tbody>
  </table>


  <ng-template #content let-c="close" let-d="dismiss" >
    <div class="modal-header">
    
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
      <p>Está seguro de eliminar a {{userDelete?.name}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger btn-xs" (click)="deleteUser()">Eliminar</button>
    </div>
  </ng-template>
 