@import "~bootstrap/dist/css/bootstrap.css";

*{
    padding: 0px;
    border: 0px;
    margin: 0px;
    color: rgb(97, 97, 97);
}
body, html {
    height: 100%;
    background: #f8f9fa;
}

.container-home{
    background: url('./assets/images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.btn-login{
    color: #fff;
    margin: 10px 0px;
    border: 1px solid #fff;
}

.btn-login:hover{
    background: transparent;
    border: 1px solid #eee;
    color:#eee;
}

.content {
    width: 40%;
    height: auto;
    background-color: rgba($color: #fff, $alpha: 0.95);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 10% auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    border-radius: 2px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border-bottom: 10px solid #3693d9;
    text-align: left;
}

.logo{
    height: 80px;
}

.pd-10{
    padding: 10px 0px;
}

.menu-top{
    background: #fff !important;
    box-shadow: 0px 2px 2px #eee;
    position: fixed;
    width: 100%;
}

.pd-container{
    padding-top: 120px;
}

.card{
    border: none;
    padding: 20px;
}

.profile-img{
    height: 150px;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
