<div class="container text-center">
    <img src="../../../../../assets/images/profile.jpeg" class="profile-img">
    <p>Bienvenido {{ session?.name }} haz iniciado sesión con tu email <br> 
        <strong>{{ session?.email }}</strong></p>

        <p (click)="logout()"><strong><small>Logout</small></strong></p>
</div>
